.mapBtn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}
 
.mapBtn:focus, .mapBtn:active:focus, .mapBtn.active:focus {
    outline: 0 none;
}
 
.mapBtn-primary {
    background: #0099cc;
    color: #ffffff;
}
 
.mapBtn-primary:hover, .mapBtn-primary:focus, .mapBtn-primary:active, .mapBtn-primary.active, .open > .dropdown-toggle.mapBtn-primary {
    background: #33a6cc;
}
 
.mapBtn-primary:active, .mapBtn-primary.active {
    background: #007299;
    box-shadow: none;
}
.button input[type="button"] {
    color:#08233e;
    font:2.4em Futura, ‘Century Gothic’, AppleGothic, sans-serif;
    font-size:70%;
    padding:14px;
    background:url(overlay.png) repeat-x center #ffcc00;
    background-color:rgba(255,204,0,1);
    border:1px solid #ffcc00;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
    border-bottom:1px solid #9f9f9f;
    -moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
    -webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
    box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
    cursor:pointer;
    display:block;
    width:100%;
}
.button input[type="button"]:hover {
    background-color:rgba(255,204,0,0.8);
}