.mapBtn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}
 
.mapBtn:focus, .mapBtn:active:focus, .mapBtn.active:focus {
    outline: 0 none;
}
 
.mapBtn-primary {
    background: #0099cc;
    color: #ffffff;
}
 
.mapBtn-primary:hover, .mapBtn-primary:focus, .mapBtn-primary:active, .mapBtn-primary.active, .open > .dropdown-toggle.mapBtn-primary {
    background: #33a6cc;
}
 
.mapBtn-primary:active, .mapBtn-primary.active {
    background: #007299;
    box-shadow: none;
}